################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicCatheter/BasicCatheter/results.csv
/BasicCatheter/.vs/BasicCatheter/v15/Browse.VC.opendb
/BasicCatheter/.vs/BasicCatheter/v15/Solution.VC.db-shm
/BasicCatheter/.vs/BasicCatheter/v15/Solution.VC.db-wal
