################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicCatheter/BasicCatheter/results.csv
/BasicCatheter/visualise/visualise/Lib
/BasicCatheter/visualise/visualise/Scripts
/BasicCatheter/visualise/visualise/pip-selfcheck.json
/BasicCatheter/visualise/visualise/pyvenv.cfg
/.vs/catheter/v16
/BasicCatheter/.vs/BasicCatheter/v16
/BasicCatheter/ExploringCatheter/results
/BasicCatheter/BasicCatheter/initial_conditions
